.active {
  color: #649eadcb;
}

.navbar {
  background-color: #222327;
  color: #ffffff;
  font-family: Montserrat;
  font-size: 11px;
  letter-spacing: 3px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  max-width: var(--section-max-width);
  width: 100%;
  padding: 10px 2%;
}
.navbar .nav-left {
  display: flex;
  justify-content: flex-start;
}
.navbar .nav-left .logo {
  margin: auto 0;
  width: 60px;
  height: 45px;
}
.navbar .nav-left .logo .logo-img {
  border-radius: 99px;
  border: 3px solid #2e73cc;
  width: 45px;
  height: 45px;
}
.navbar .nav-left .username {
  margin: auto 0;
  padding-right: 10px;
}
.navbar .nav-left .username .username-text {
  font-weight: 200;
  text-transform: uppercase;
}
.navbar .nav-left .line {
  margin: auto 0;
}
.navbar .nav-left .line .V-line {
  display: inline-block;
  border-radius: 25px;
  border-left: 2px solid #ffffff;
  margin: 0 15px;
  height: 30px;
}
.navbar .nav-left .links {
  margin: auto 0;
}
.navbar .nav-left .links .twitch-icon-link {
  width: 32px;
  height: 25px;
}
.navbar .nav-right {
  display: flex;
  justify-content: flex-end;
}
.navbar .nav-right .pages {
  margin: auto 0;
}
.navbar .nav-right .pages a {
  margin-right: 15px;
  text-decoration: none;
  color: #ffffff;
  font-family: Montserrat;
  font-size: 16px;
  letter-spacing: 3.5px;
  transition: 0.4s;
}
.navbar .nav-right .pages a:hover {
  color: #2e73cc;
}
