.navbar {
    background-color: #222327;
    color: #ffffff;
    font-family: Montserrat;
    font-size: 11px;
    letter-spacing: 3px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    max-width: var(--section-max-width);
    width: 100%;
    padding: 10px 2%;

    .nav-left {
        display: flex;
        justify-content: flex-start;

        .logo {
            margin: auto 0;
            width: 60px;
            height: 45px;

            .logo-img {
                border-radius: 99px;
                border: 3px solid #2e73cc;
                width: 45px;
                height: 45px;
            }
        }

        .username {
            margin: auto 0;
            padding-right: 10px;

            .username-text {
                font-weight: 200;
                text-transform: uppercase;
            }
        }

        .line {
            margin: auto 0;

            .V-line {
                display: inline-block;
                border-radius: 25px;
                border-left: 2px solid #ffffff;
                margin: 0 15px;
                height: 30px;
            }
        }

        .links {
            margin: auto 0;

            .twitch-icon-link {
                width: 32px;
                height: 25px;
            }
        }
    }

    .nav-right {
        display: flex;
        justify-content: flex-end;

        .pages {
            margin: auto 0;

            a {
                margin-right: 15px;
                text-decoration: none;
                color: #ffffff;
                font-family: Montserrat;
                font-size: 16px;
                letter-spacing: 3.5px;
                transition: 0.4s;
            }

            a:hover {
                    color: #2e73cc;
            }
        }
    }
}